# Provider: groq | ollama | llama | gemini
AI_PROVIDER=llama

# Model
MODEL=

# GROQ
GROQ_API_KEY=

# OLLAMA
OLLAMA_BASE_URL=http://localhost:11434

# LLAMA
LLAMA_BASE_URL=http://localhost:8080
LLAMA_API_KEY=

# GEMINI
GOOGLE_GENERATIVE_AI_API_KEY=

# Debug
DEBUG=false